PORT = 3000
MONGOO_DB_URL = "text me i will proivde it"
JWT_SECRET = pie83*^&$2As
GEMINI_API = "YOUR GEMINI_API"
EMAIL_ID= "YOUR EMAIL"
EMAIL_PASS= "USE GPT TO HOW TO GET"
BACKEND_BASE_Url = http://localhost:3000/app/api
